<div class="container">
  <header>
    <div class="function_title">
      <h2>マイページ</h2>
    </div>
  </header>
  <%= form_with model: @customer, url: public_customer_path, local: true do |f| %>
  <h4>登録情報</h4><%= link_to "編集する", edit_public_customer_path(@customer.id), class:"btn btn-success"%>
  <%= link_to "パスワードを変更する", new_customer_password_path(@customer.id), class:"btn btn-danger"%>

  <table class="table table-hober">

    <tr><td>氏名</td><td><%= @customer.last_name %>　<%= @customer.first_name %></td></tr>
    <tr><td>カナ</td><td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td></tr>
    <tr><td>郵便番号</td><td><%= @customer.postal_code %></td></tr>
    <tr><td>住所</td><td><%= @customer.address %></td></tr>
    <tr><td>電話番号</td><td><%= @customer.telephone_number %></td></tr>
    <tr><td>メールアドレス</td><td><%= @customer.email %></td></tr>

  </table>
  <div>配送先　<%= link_to "一覧を見る", public_address_path(current_customer.id), class:"btn btn-success"%></div>
  <%= link_to "編集する", edit_public_customer_path(@customer.id), class:"btn btn-success"%>

  <% end %>

</div>
