<div class="container">
  <div class="row">
    <div class="col-xs">
      <div class="function_title">
        <h2>ショッピングカート</h2>
      </div>

      <div class="newb"><%= link_to "＋", new_admins_item_path %></div>
        <table class="table table-striped">
          <thead class="head_data">
            <tr>
              <th>ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody class="item_data">
            <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admins_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                  販売中
                <% else %>
                  品切中
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>