<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="function_title">
        <h3>ジャンル一覧・追加</h3>
      </div>
      <%= form_with model: @genre, url: admins_genre_path, local: true do |f| %>
      <div class="field">
        <a>ジャンル</a>
        <%= f.text_field :name %>
        <%= f.radio_button 'is_active', 'true', checked: true %>
        <%= f.label '有効' %>
        <%= f.radio_button 'is_active', 'false', checked: false %>
        <%= f.label '無効' %>
        <%= f.submit '変更を保存する', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>