<div class="container">
  <header>
    <div class="function_title">
      <h2>新規会員登録</h2>
    </div>
  </header>
  <div class="row">
    <%= form_with model: @customer, local: true do |f| %>
    <div class=col-xs-3>
      <th>名前</th></br>
      <th>フリガナ</th></br>
      <th>メールアドレス</th></br>
      <th>郵便番号（ハイフン無し）</th></br>
      <th>住所</th></br>
      <th>電話番号（ハイフン無し）</th></br>
      <th>パスワード（６桁以上）</th></br>
      <th>パスワード（確認用）</th></br>
    </div>
    <div class=col-xs-3>
      <td>（性）<%= f.text_field :last_name %></td></br>
      <td>（セイ）<%= f.text_field :last_name_kana %></td></br>
      <td><%= f.text_field :email %></td></br>
      <td><%= f.text_field :postal_code %></td></br>
      <td><%= f.text_field :address %></td></br>
      <td><%= f.text_field :telephone_number %></td></br>
      <td><%= f.text_field :encrypted_password %></td></br>
      <td><%= f.text_field :encrypted_password %></td></br>
    </div>
    <div class=col-xs-3>
      <td>（名）<%= f.text_field :first_name %></td></br>
      <td>（メイ）<%= f.text_field :first_name_kana %></td></br>
    </div>
  </div>
  <div class="switch"><%= f.submit "新規登録", class:"btn btn-danger" %></div>
  <% end %>
</div>
