<div class="container">
  <div class="row">

    <h1>トップページ作成中です。</h1>
    <h3>少々お待ち下さい。</h3></br></br>
    
    <div>画面がまだ</div>
    
    <div><%= link_to "public_items", public_items_path %>　表示が並ばない</div>
    <div><%= link_to "public_cart_items", public_cart_items_path(1) %>　表示できない</div>
    
    
    </br></br><div>画面完成</div>
    <div>admins</div>
    <div><%= link_to "admins_customers", admins_customers_path %>　OK!</div>
    <div><%= link_to "admins_items", admins_items_path %>　OK!</div>
    
    </br><div>public</div>
    <div><%= link_to "new_customer_registration", new_customer_registration_path %>　emailとpassword以外保存されていない</div>
    <div><%= link_to "public_customer 顧客マイページ", public_customer_path(1) %>　address削除ができない</div>
  </div>
</div>