<div class="container">
  <div class="row">
    <div class="col-xs-3" style="background-color: orange;">
      <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
      <% end %>
      <%= render 'homes/genre' %></br>
    </div>
    <h2>NaganoCakeHome</h2>
    <div class="col-xs-9">

        <tbody>
          <div class="row">
            <% @items.each do |item| %>

            <th>
              <td><%= attachment_image_tag item.image_id, :image, format: 'png', fallback: "no_image.jpg", size: "60x60" %></td>
              <td><%= link_to item.name, item_path(item.id) %></td></br
              <td>¥<%= item.price %></td>
            </th>
            
          </div>
          <% end %>
        </tbody>

    </div>
  </div>
</div>